:root {
    --primarytext-color: #212121;
    --secondarytext-color: #757575;
    --logo-color: #2196F3; 
    --background-color: #F5F5F5;
    --headerbackground-color: #FFFFFF;
    --footerbackground-color: #2F303A;

}

body { 

    background-color: var(--background-color);
    color: var(--primarytext-color);
    font-family: Roboto, sans-serif;
    letter-spacing: 0.03em;
}

/* Оформление Логотипа сервиса */

.logo {
font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: var(--logo-color, #000000);
}

/* Оформление Навигации */

.site-nav .link {
 font-family: Roboto, sans-serif;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        color: var(--primarytext-color);
        text-decoration: none;
        
}

/* Выбираем второе портфолио и назначаем ему цвет без отдельного класса */

.site-nav .link[href*="portfolio"] {
    color: var(--logo-color)
}

/* Как же задолбали эти значки списков */

ul {
    list-style-type: none;
}

/* Контактная информация */

.site-contact .site-contactlink {
    
        color: var(--logo-color);
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        text-decoration: none;
}

/* Такой же метод что и с навигацией */

.site-contact .site-contactlink[href*="tel"] {
    color: var(--secondarytext-color);
    
}

/* Центрируем Фильтр */

.filterbutton-collection {
    align-content: center
}

/* Основные параметры кнопок */

.button {
    ;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.62;
        letter-spacing: 0.03em;
        color: var(--primarytext-color) 
}

/* Отдельно ставим измененный курсор */

.filterbutton-collection .pointer {
    cursor: pointer;
}

/* Ставим состояние наведения и TAB */

.filterbutton-collection .button:hover,
.filterbutton-collection .button:focus {
    color: var(--headerbackground-color);
    background-color: var(--logo-color);
} 
